=form_for(@program) do |f|
  - if @program.errors.any?
    - @program.errors.full_messages.each do |message|
      = message

= form_for @program do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :description
  = f.text_area :description
  %br
  - @clients.each do |client|
    = check_box_tag 'program[client_ids][]', client.id, @program.clients.include?(client)
    = client.first_name + client.last_name 
    %br
  =f.submit


