
%h2
= link_to "Welcome", root_path

%div


.col-md-4
  %stong
  %h3
    = @client.first_name + @client.last_name
  %strong 
    = @client.date_of_birth.strftime("%m/%d/%Y")
  %br
  %strong
  %h3
    Goals:
    %h4
      = @client.goals
  %br
  =link_to "Delete Client", client_path(@client), method: :delete
  |
  = link_to 'Back', clients_path
.col-md-4
  %br
  %center 
    %h3 Programs Offered:
    - @programs.each do |program|
      = link_to program.name, program_path(program)

.col-md-4
  %br
  %center  
    %h3 Trainers
    - @trainers.each do |trainer|
      =link_to trainer.first_name, trainer_path(trainer)
      =link_to trainer.last_name, trainer_path(trainer)
%br
.row
  .col-md-12
    %br
    %br
    .col-md-4.col-md-offset-5
      Internal Comments Concerning Client:
      %br
      - @client.comments.each do |comment|
        = comment.content
        = link_to "Delete Comment", destroy_comment_client_path(comment), method: :delete
        %br
      %br
      %br
      Add a New Comment:
      = form_for @comment, url: create_comment_client_path(@client) do |f|
        = f.label :content
        = f.text_area :content
        %br
        = f.submit

  
