



=  form_for @trainer do |t|
  = t.label :first_name 
  = t.text_field :first_name 
  %br
  = t.label :last_name 
  = t.text_field :last_name
  %br
  = t.label :about_me
  = t.text_field :about_me 
  %br
  Programs Taught:
  %br
  %br
  - @programs.each do |program| 
    = check_box_tag 'trainer[program_ids][]', program.id, @trainer.programs.include?(program)
    = program.name
  = t.submit 
  %br
  %br 





   