/ Static navbar
%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} KickAss Gym Management System
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Home", root_path
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to "Programs", programs_path
            %li
              = link_to "Trainers", trainers_path
            %li
              = link_to "Clients", clients_path
            / %li.divider
            / %li.dropdown-header Nav header
            / %li
            /   %a{:href => "#"} Separated link
            / %li
            /   %a{:href => "#"} One more separated link
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li
            = link_to "Logout: #{current_user.email}", destroy_user_session_path, method: :delete 
        -else
          %li
            = link_to "Login", new_user_session_path
          %li
            = link_to "Register", new_user_registration_path
    / /.nav-collapse
- if notice || alert
  %p.notice= notice
  %p.alert= alert
.container
  / Main component for a primary marketing message or call to action
  .jumbotron
    %h1 KickAss Gym Management System
    - if current_user
      = "Gym Trainers Management Page"
    - else
      = "Welcome to the KickAss Gym Management System.  Please sign in above."
    %p
/ /container
/
  Bootstrap core JavaScript
  \==================================================
/ Placed at the end of the document so the pages load faster
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
%script{:src => "../../dist/js/bootstrap.min.js"}
/ IE10 viewport hack for Surface/desktop Windows 8 bug
%script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}