=link_to "Home", root_path
%br
%br

=link_to "Back", trainers_path
%br 
=link_to "Edit", edit_trainer_path
%br
=link_to "Delete", trainer_path, method: :delete
%br
%br
TRAINER
%br
%br
First Name: 
= @trainer.first_name
%br
Last Name:
= @trainer.last_name
%br
About Me:
= @trainer.about_me
%br
I teach the following programs:
-@programs.each do |program|
  = program.name
%br
%br
%strong
  Internal comments concerning trainer:
  %br
-@trainer.comments.each do |comment|
  = comment.content
  = link_to "Delete Comment", destroy_comment_trainer_path(comment), method: :delete
  %br
%br
= form_for @comment, url: create_comment_trainer_path(@trainer) do |f|
  = f.label :content
  = f.text_area :content
  %br
  = f.submit


